@import "bootstrap-sprockets";
@import "bootstrap";

html, body, ul, ol {
  margin: 0;
  padding: 0;
  font-family: work-sans;
}

.truck_info {
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  margin: 10px 0;
  text-align: center;
}

.edit_business_name {
  display: block;
}

.welcome-top{
  text-align: center;
  font-family: athiti;
}

.welcome_page{
  background-color: rgb(237, 168, 78);
  text-align: center;
}

.index_truck_picture{
  width: auto;
  height: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.index_truck_card{
  background-color: rgb(252, 200, 131);
  border: 1px solid orange;
  height: fit-content;
  width: 33%;
  margin-bottom: 10px;
}

.btn{
  margin: 2px;
}

img{
  width: 80px;
  height: 100px;
}

body{
  background-color: rgb(237, 168, 78);
}

.form-control {
  background-color: rgb(252, 210, 170);
  margin: 2px;
  text-align: center;
}
