@import "bootstrap-sprockets";
@import "bootstrap";

html, body, ul, ol {
  margin: 0;
  padding: 0;
}

.truck_info {
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  margin: 10px 0;
  text-align: center;
}
